# Web Scraping for Indeed.com & Predicting Salaries

In this project, we will practice two major skills: collecting data by scraping a website and then building a binary predictor with Logistic Regression.

We are going to collect salary information on data science jobs in a variety of markets. Then using the location, title and summary of the job we will attempt to predict the salary of the job. For job posting sites, this would be extraordinarily useful. While most listings DO NOT come with salary information (as you will see in this exercise), being to able extrapolate or predict the expected salaries from other listings can help guide negotiations.

Normally, we could use regression for this task; however, we will convert this problem into classification and use Logistic Regression.

- Question: Why would we want this to be a classification problem?
- Answer: While more precision may be better, there is a fair amount of natural variance in job salaries - predicting a range be may be useful.

Therefore, the first part of the assignment will be focused on scraping Indeed.com. In the second, we'll focus on using listings with salary information to build a model and predict additional salaries.

### Scraping job listings from Indeed.com

We will be scraping job listings from Indeed.com using BeautifulSoup. Luckily, Indeed.com is a simple text page where we can easily find relevant entries.

First, look at the source of an Indeed.com page: (http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10")

Notice, each job listing is underneath a `div` tag with a class name of `result`. We can use BeautifulSoup to extract those.

#### Setup a request (using `requests`) to the URL below. Use BeautifulSoup to parse the page and extract all results (HINT: Look for div tags with class name result)

The URL here has many query parameters

- `q` for the job search
- This is followed by "+20,000" to return results with salaries (or expected salaries >$20,000)
- `l` for a location 
- `start` for what result number to start on

In [1]:
URL = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

In [1]:
import requests
import bs4
from bs4 import BeautifulSoup

In [19]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np
import time
import csv
import seaborn as sb
import matplotlib.pyplot as plt
import json
%matplotlib inline
from sklearn.grid_search import GridSearchCV
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import confusion_matrix, classification_report

pd.options.display.max_columns = 50
pd.options.display.max_colwidth = 300

Let's look at one result more closely. A single `result` looks like

```
<div class=" row result" data-jk="2480d203f7e97210" data-tn-component="organicJob" id="p_2480d203f7e97210" itemscope="" itemtype="http://schema.org/JobPosting">
<h2 class="jobtitle" id="jl_2480d203f7e97210">
<a class="turnstileLink" data-tn-element="jobTitle" onmousedown="return rclk(this,jobmap[0],1);" rel="nofollow" target="_blank" title="AVP/Quantitative Analyst">AVP/Quantitative Analyst</a>
</h2>
<span class="company" itemprop="hiringOrganization" itemtype="http://schema.org/Organization">
<span itemprop="name">
<a href="/cmp/Alliancebernstein?from=SERP&amp;campaignid=serp-linkcompanyname&amp;fromjk=2480d203f7e97210&amp;jcid=b374f2a780e04789" target="_blank">
    AllianceBernstein</a></span>
</span>
<tr>
<td class="snip">
<nobr>$117,500 - $127,500 a year</nobr>
<div>
<span class="summary" itemprop="description">
C onduct quantitative and statistical research as well as portfolio management for various investment portfolios. Collaborate with Quantitative Analysts and</span>
</div>
</div>
</td>
</tr>
</table>
</div>
```

While this has some more verbose elements removed, we can see that there is some structure to the above:
- The salary is available in a `nobr` element inside of a `td` element with `class='snip`.
- The title of a job is in a link with class set to `jobtitle` and a `data-tn-element="jobTitle`.  
- The location is set in a `span` with `class='location'`. 
- The company is set in a `span` with `class='company'`.

### Write 4 functions to extract each item: location, company, job, and salary.

example: 
```python
def extract_location_from_result(result):
    return result.find ...
```


- **Make sure these functions are robust and can handle cases where the data/field may not be available.**
    - Remember to check if a field is empty or `None` for attempting to call methods on it
    - Remember to use `try/except` if you anticipate errors
- **Test** the functions on the results above and simple examples

I did different functions - ones that made sense to me.
I check lenght of each list before I copy it to a backup.
I had to run the code several times when I realized the lists did not match up

In [20]:
#list to hold scraped data
#the back up are used once it is determined that the list are the same length.
#Twice I ended up with uneven list - this assures that I do not have to start from the top
pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
df = pd.DataFrame()   # create a new data frame

searchCriteria=[]
salaryRange=[]
jobTitle = []
companyName=[]
cityLocation=[]
description=[]
actualSalary=[]
BackupsearchCriteria=[]
BackupsalaryRange=[]
BackupjobTitle = []
BackupcompanyName=[]
BackupcityLocation=[]
Backupdescription=[]
BackupactualSalary=[]

In [21]:
#this function is to scrape the data off the first page of all cities. The Url is different for the 
#first page.
#note I clean up the company name before I save it
def extractDataFirstPage(priceRanges,city, level, b_URL):
        time.sleep(1)   
        base_url = b_URL
        soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
        gData = soup.find_all("div",{"class":"row result"})
        for item in gData:
                searchCriteria.append('data scientist')
                jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
                companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
                cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
                description.append(item.find_all("span",{"class":"summary"})[0].text)
                salaryRange.append(level) 
                

        gData = soup.find_all("div",{"class":" row result"})
        for item in gData:
                searchCriteria.append('data scientist')
                jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
                companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
                cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
                description.append(item.find_all("span",{"class":"summary"})[0].text)
                salaryRange.append(level)

In [22]:
#To scape the data off pages 2 on
def extractDataBeyondPages(priceRanges, city, level, b_URL, endPage,pVariableNu):
        time.sleep(2) 
        pVariableNu=10
        for pages in range(2,endPage): 
            pVariableNu=10+pVariableNu
            pVariable=str(pVariableNu)
            base_url = b_URL + pVariable
            soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
            gData = soup.find_all("div",{"class":"row result"})
            for item in gData:
                searchCriteria.append('data scientist')
                jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
                companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
                cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
                description.append(item.find_all("span",{"class":"summary"})[0].text)
                salaryRange.append(level)
                #print base_url

            gData = soup.find_all("div",{"class":" row result"})
            for item in gData:
                searchCriteria.append('data scientist')
                jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
                companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
                cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
                description.append(item.find_all("span",{"class":"summary"})[0].text)
                salaryRange.append(level)
                #print base_url

In [60]:
#backing up during the process because I am paranoid
def backup_lists():
    BackupsearchCriteria =searchCriteria 
    BackupsalaryRange=salaryRange
    BackupjobTitle =jobTitle
    BackupcompanyName=companyName
    BackupcityLocation=cityLocation
    Backupdescription=description

In [24]:
#checking to make sure all are same length
def print_lengths():
    print len(searchCriteria)
    print len(jobTitle)
    print len(companyName)
    print len(cityLocation)
    print len(salaryRange)
    print len(description)

In [25]:
#Chicago all salaries page 1
#large city good supply of jobs and applicants
priceRanges = ['$55,000','$70,000','$85,000','$100,000','$120,000']
for price in priceRanges:
    if price == '$55,000':
            level = 'low'
            endPage=41
    elif price == '$70,000':
            level = 'low'
            endPage=33
    elif price == '$85,000':
            level = 'low'
            endPage=26
    elif price == '$100,000':
            level = 'high'
            endPage=9
    else:
            level = 'high'
            endPage=9
    city = 'Chicago'
    b_URL='http://www.indeed.com/q-data-scientist-'+ price +'-l-Chicago,-IL-jobs.html'
    extractDataFirstPage(priceRanges, city,level,b_URL)
print_lengths()

60
60
60
60
60
60

In [26]:
#Chicago  other pages
priceRanges = ['$55,000','$70,000','$85,000','$100,000','$120,000']

for price in priceRanges:
    if price == '$55,000':
            level = 'low'
            endPage=41
            salaryCode='55'
    elif price == '$70,000':
            level = 'low'
            endPage=33
            salaryCode='70'
    elif price == '$85,000':
            level = 'low'
            endPage=26
            salaryCode='85'
    elif price == '$100,000':
            level = 'high'
            endPage=18
            salaryCode='100'
    else:
            level = 'high'
            endPage=9
            salaryCode='120'
    pVariableNu=10
    city = 'Chicago'
    b_URL='http://www.indeed.com/jobs?q=data+scientist+%24'+salaryCode+'%2C000&l=Chicago%2C+IL&start='
    extractDataBeyondPages(price, city, level, b_URL, endPage, pVariableNu)

print_lengths()

1065
1065
1065
1065
1065
1065

In [27]:
backup_lists()

In [28]:
#Cincinnati all salaries page 1
priceRanges = ['$50,000','$55,000','$65,000','$90,000','$110,000']
for price in priceRanges:
    if price == '$50,000':
            level = 'low'
            endPage=9
    elif price == '$55,000':
            level = 'low'
            endPage=7
    elif price == '$65,000':
            level = 'low'
            endPage=6
    elif price == '$90,000':
            level = 'low'
            endPage=4
    else:
            level = 'high'
            endPage=3
    city = 'Cincinnati'
    b_URL='http://www.indeed.com/q-data-scientist-'+ price +'-l-Cincinnati,-OH-jobs.html'
    extractDataFirstPage(priceRanges, city,level,b_URL)
print_lengths()

1125
1125
1125
1125
1125
1125

In [30]:
#Cincinnati  other pages
priceRanges = ['$50,000','$55,000','$65,000','$90,000','$110,000']
for price in priceRanges:
    if price == '$50,000':
            level = 'low'
            endPage=9
            salaryCode='50'
    elif price == '$55,000':
            level = 'low'
            endPage=8
            salaryCode='55'
    elif price == '$65,000':
            level = 'low'
            endPage=6
            salaryCode='65'
    elif price == '$90,000':
            level = 'low'
            endPage=4
            salaryCode='90'
    else:
            level = 'high'
            endPage=3
            salaryCode='110'

    city = 'Cincinnati'
    b_URL='http://www.indeed.com/jobs?q=data+scientist+%24'+salaryCode+'%2C000&l=Chicago%2C+IL&start='
    pVariableNu=10
    extractDataBeyondPages(price,city, level,b_URL,endPage,pVariableNu)
print_lengths()

1314
1314
1314
1314
1314
1314

In [29]:
print_lengths()

1125
1125
1125
1125
1125
1125

In [31]:
backup_lists()

In [32]:
#Louisville all salaries page 1
priceRanges = ['$40,000','$55,000','$70,000','$100,000','$120,000']
for price in priceRanges:
    if price == '$40,000':
            level = 'low'
            endPage=2
    elif price == '$55,000':
            level = 'low'
            endPage=3
    elif price == '$70,000':
            level = 'low'
            endPage=3
    elif price == '$100,000':
            level = 'high'
            endPage=3
    else:
            level = 'high'
            endPage=3
    city = 'Louisville'
    b_URL= 'http://www.indeed.com/q-data-scientist-'+price +'-l-Louisville,-KY-jobs.html'
    extractDataFirstPage(priceRanges, city,level,b_URL)
print_lengths()

1367
1367
1367
1367
1367
1367

In [35]:
backup_lists

In [36]:
#Louisville other pages
priceRanges = ['$40,000','$55,000','$70,000','$100,000','$120,000']
for price in priceRanges:
    if price == '$40,000':
            level = 'low'
            endPage=3
            salaryCode='40'
    elif price == '$55,000':
            level = 'low'
            endPage=3
            salaryCode='55'
    elif price == '$70,000':
            level = 'low'
            endPage=3
            salaryCode='70'

    elif price == '$100,000':
            level = 'high'
            endPage=3
            salaryCode='100'
    else:
            level = 'high'
            endPage=3
            salaryCode='120'
    pVariableNu=10
    city = 'Louisville'
    b_URL='http://www.indeed.com/jobs?q=data+scientist+%24'+salaryCode+'%2C000&l=Louisville%2C+KY&start='
    extractDataBeyondPages(price,city, level,b_URL,endPage,pVariableNu)
print_lengths()

1433
1433
1433
1433
1433
1433

In [37]:
backup_lists()

In [38]:
#Austin TX all salaries page 1
priceRanges = ['$50,000','$70,000','$85,000','$100,000','$115,000']
for price in priceRanges:
    if price == '$50,000':
            level = 'low'
            endPage=16
    elif price == '$70,000':
            level = 'low'
            endPage=13
    elif price == '$85,000':
            level = 'low'
            endPage=9
    elif price == '$100,000':
            level = 'high'
            endPage=7
    else:
            level = 'high'
            endPage=4
    city = 'Austin'
    b_URL ='http://www.indeed.com/q-data-scientist-'+ price +'-l-Austin,-TX-jobs.html'
    extractDataFirstPage(priceRanges, city,level,b_URL)
print_lengths()

1493
1493
1493
1493
1493
1493

In [39]:
backup_lists()

In [40]:
#Austin other pages
priceRanges = ['$50,000','$70,000','$85,000','$100,000','$115,000']
for price in priceRanges:
    if price == '$50,000':
            level = 'low'
            endPage=16
            salaryCode='50'
    elif price == '$70,000':
            level = 'low'
            endPage=13
            salaryCode=='70'
    elif price == '$85,000':
            level = 'low'
            endPage=9
            salaryCode='85'
    elif price == '$100,000':
            level = 'high'
            endPage=7
            salaryCode='100'
    else:
            level = 'high'
            endPage=4
            salaryCode='115'
    pVariableNu=10
    city = 'Austin'
    b_URL='http://www.indeed.com/jobs?q=data+scientist+%24'+salaryCode+'%2C000&l=Austin%2C+TX&start='
    extractDataBeyondPages(price,city, level,b_URL,endPage,pVariableNu)
print_lengths()

1835
1835
1835
1835
1835
1835

In [42]:
backup_lists()

In [61]:
#San Franisco all salaries page 1
priceRanges = ['$65,000','$85,000','$100,000','$115,000','$130,000']
for price in priceRanges:
    if price == '$65,000':
            level = 'low'
            endPage=168
            salaryCode='65'
    elif price == '$85,000':
            level = 'low'
            endPage=130
            salaryCode='85'
    elif price == '$100,000':
            level = 'high'
            endPage=100
            salaryCode='100'
    elif price == '$115,000':
            level = 'high'
            endPage=70
            salaryCode='115'
    else:
            level = 'high'
            endPage=35
            salaryCode='130'
    city = 'San Francisco'
    b_URL ='http://www.indeed.com/q-data-scientist-'+ price +'-l-San-Francisco,-CA-jobs.html'
    extractDataFirstPage(priceRanges, city,level,b_URL)
print_lengths()

1895
1895
1895
1895
1895
1895

In [62]:
BackupsearchCriteria2 =searchCriteria 
BackupsalaryRange2=salaryRange
BackupjobTitle2 =jobTitle
BackupcompanyName2=companyName
BackupcityLocation2=cityLocation
Backupdescription2=description

In [41]:
backup_lists()

In [63]:
#San Francisco other pages
priceRanges = ['$65,000','$85,000','$100,000','$115,000','$130,000']
for price in priceRanges:
    if price == '$65,000':
            level = 'low'
            endPage=168
            salaryCode='65'
    elif price == '$85,000':
            level = 'low'
            endPage=130
            salaryCode='85'
    elif price == '$100,000':
            level = 'high'
            endPage=100
            salaryCode='100'
    elif price == '$115,000':
            level = 'high'
            endPage=70
            salaryCode='115'
    else:
            level = 'high'
            endPage=35
            salaryCode='130'
    city = 'San Francisco'
    pVariableNu=10
    b_URL='http://www.indeed.com/jobs?q=data+scientist+%24'+salaryCode+'%2C000&l=San+Francisco%2C+CA&start='
    extractDataBeyondPages(price,city, level,b_URL,endPage,pVariableNu)
print_lengths()

6297
6297
6297
6297
6297
6297

In [17]:
backup_lists()

Now, to scale up our scraping, we need to accumulate more results. We can do this by examining the URL above.

- "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l=New+York&start=10"

There are two query parameters here we can alter to collect more results, the `l=New+York` and the `start=10`. The first controls the location of the results (so we can try a different city). The second controls where in the results to start and gives 10 results (thus, we can keep incrementing by 10 to go further in the list).

#### Complete the following code to collect results from multiple cities and starting points. 
- Enter your city below to add it to the search
- Remember to convert your salary to U.S. Dollars to match the other cities if the currency is different

In [5]:
#see above: Chicago, Cincinnati, Louisville, Autin, and San Francisco

In [6]:
# url_template = "http://www.indeed.com/jobs?q=data+scientist+%2420%2C000&l={}&start={}"
# max_results_per_city = 100 # Set this to a high-value (5000) to generate more results. 
# # Crawling more results, will also take much longer. First test your code on a small number of results and then expand.

# results = []

# for city in set(['New+York', 'Chicago', 'San+Francisco', 'Austin', 'Seattle', 
#     'Los+Angeles', 'Philadelphia', 'Atlanta', 'Dallas', 'Pittsburgh', 
#     'Portland', 'Phoenix', 'Denver', 'Houston', 'Miami', YOUR_CITY]):
#     for start in range(0, max_results_per_city, 10):
#         # Grab the results from the request (as above)
#         # Append to the full set of results
#         pass

#### Use the functions you wrote above to parse out the 4 fields - location, title, company and salary. Create a dataframe from the results with those 4 columns.

In [65]:
#merging the list together
dictPostings={'Search Criteria':searchCriteria,
              'Job Title':jobTitle,
              'Company Name':companyName,
              'City Location':cityLocation,
              'Salary Level': salaryRange, 
              'Description':description}

searchListings = pd.DataFrame(dictPostings)
print searchListings.shape
searchListings=searchListings.drop_duplicates(take_last=True)
print searchListings.shape

(6297, 6)
(2934, 6)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead

Lastly, we need to clean up salary data. 

1. Only a small number of the scraped results have salary information - only these will be used for modeling.
1. Some of the salaries are not yearly but hourly or weekly, these will not be useful to us for now
1. Some of the entries may be duplicated
1. The salaries are given as text and usually with ranges.

#### Find the entries with annual salary entries, by filtering the entries without salaries or salaries that are not yearly (filter those that refer to hour or week). Also, remove duplicate entries

In [9]:
## I did ranges

#### Write a function that takes a salary string and converts it to a number, averaging a salary range if necessary

In [66]:
##the get dummies
searchListings.columns

Index([u'City Location', u'Company Name', u'Description', u'Job Title',
       u'Salary Level', u'Search Criteria'],
      dtype='object')

In [67]:
searchListings.head(2)

,City Location,Company Name,Description,Job Title,Salary Level,Search Criteria
2,"Chicago, IL 60606",Purohit Navigation,"Assist with data QC process on an ad hoc basis. We offer thoughtful research design, expertly executed data collection, and actionable research insights to...",Market Research Analyst,low,data scientist
8,"Chicago, IL",C R Research Services,\nParticipate in the development of final written reports that involve presentation set-up and data posting. Coordinate all aspects of primary research projects...,Quantitative Research Analyst,low,data scientist

In [68]:
#creating dummies for salary listings
salaryDummies = pd.get_dummies(searchListings['Salary Level'])

In [69]:
salaryDummies.head()

    high  low
2    0.0  1.0
8    0.0  1.0
9    0.0  1.0
10   0.0  1.0
12   0.0  1.0

In [70]:
salaryDummies.columns

Index([u'high', u'low'], dtype='object')

In [114]:
#get the dummies for states
#first the city state and zip need to be separated

In [72]:
searchListings=pd.concat([searchListings, 
                          searchListings['City Location'].str.split(',',expand=True)],axis=1)

In [73]:
searchListings.columns=['City Location','Company Name',
                       'Description','Job Title','Salary Level','Search Criteria',
                       'City', 'State Zip']

In [74]:
searchListings=pd.concat([searchListings, 
                          searchListings['State Zip'].str.split(' ',2,expand=True)],axis=1)

In [75]:
searchListings.columns=['City Location','Company Name',
                       'Description','Job Title','Salary Level','Search Criteria',
                       'City','State Zip', 'blank','State','Zip']

In [76]:
#created dummies by state so not to get all the suburbs
stateDummies=pd.get_dummies(searchListings['State'])
stateDummies.head()

     CA   IL   IN   KY   OH   TX
2   0.0  1.0  0.0  0.0  0.0  0.0
8   0.0  1.0  0.0  0.0  0.0  0.0
9   0.0  1.0  0.0  0.0  0.0  0.0
10  0.0  1.0  0.0  0.0  0.0  0.0
12  0.0  1.0  0.0  0.0  0.0  0.0

In [77]:
#merge in salary dummies
searchListings=pd.concat([searchListings, salaryDummies],axis =1)

In [78]:
#merge in state dummies
searchListings=pd.concat([searchListings, stateDummies],axis=1)

In [79]:
searchListings.head()

,City Location,Company Name,Description,Job Title,Salary Level,Search Criteria,City,State Zip,blank,State,Zip,high,low,CA,IL,IN,KY,OH,TX
2,"Chicago, IL 60606",Purohit Navigation,"Assist with data QC process on an ad hoc basis. We offer thoughtful research design, expertly executed data collection, and actionable research insights to...",Market Research Analyst,low,data scientist,Chicago,IL 60606,,IL,60606,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
8,"Chicago, IL",C R Research Services,\nParticipate in the development of final written reports that involve presentation set-up and data posting. Coordinate all aspects of primary research projects...,Quantitative Research Analyst,low,data scientist,Chicago,IL,,IL,None,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
9,"Chicago, IL",Google,\nExperience interpreting technical data and creating reports with data. Experience with data analytics and/or data visualization techniques and software....,"Machine Learning Deployment Engineer, Professional Services,...",low,data scientist,Chicago,IL,,IL,None,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
10,"Chicago, IL",Northwestern University,"\nEnsures data integrity. This includes database administration, data consolidation, data analysis and management reporting....",Statistical Analyst,low,data scientist,Chicago,IL,,IL,None,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0
12,"Chicago, IL",Precima,The Data Scientist will provide process execution support for client projects. Take analytical objectives and define data requirements....,Data Scientist,low,data scientist,Chicago,IL,,IL,None,0.0,1.0,0.0,1.0,0.0,0.0,0.0,0.0

in the next step I am going to separate the City State Zipcode.
Since my cities are in separate states, below I will see if there is a relationship between location and salary level.  One would assume that there would be

In [80]:
searchListings.shape

(2934, 19)

In [81]:
#basic exploratory stats
#pd.pivot_table(salaryListings[salaryListings[]])
print np.sum(searchListings['low'])
print np.sum(searchListings['high'])

1756.0
1178.0

In [82]:
highPivot=pd.pivot_table(searchListings, 
                    index = ['State',], 
                        values=['high'], 
                        aggfunc = [np.sum]).head()
lowPivot=pd.pivot_table(searchListings, 
                    index = ['State',], 
                        values=['low'], 
                        aggfunc = [np.sum]).head()
highPivot

         sum
        high
State
CA     935.0
IL     156.0
IN       1.0
KY       4.0
OH       9.0

In [83]:
lowPivot

          sum
          low
State
CA     1195.0
IL      394.0
IN        1.0
KY       11.0
OH       14.0

In [84]:
#salaryByState=pd.DataFrame(lowPivot).join(pd.DataFrame(highPivot))
salaryByState=pd.concat([lowPivot, highPivot],axis=1)
salaryByState

          sum
          low   high
State
CA     1195.0  935.0
IL      394.0  156.0
IN        1.0    1.0
KY       11.0    4.0
OH       14.0    9.0

In [85]:
#sum of low salaries and sum of high salaries
salaryByState.columns=[' '.join(col).strip() for col in salaryByState.columns.values]
salaryByState

       sum low  sum high
State
CA      1195.0     935.0
IL       394.0     156.0
IN         1.0       1.0
KY        11.0       4.0
OH        14.0       9.0

### Save your results as a CSV

In [86]:
import csv
searchListings.to_csv('SearchListings.csv', encoding='utf-8')

# GO TO Part 2 Project 4 Analysis - MLT

## Predicting salaries using Logistic Regression

#### Load in the the data of scraped salaries

The assumption that location will predict whether a salary will be high or low.  If it proves otherwise then I will look into whether words in the title predict high or not

I started looking at predictors by feeding the states into a model
I felt this would make a difference California does predict high but only with .59 accuracy

#### We want to predict a binary variable - whether the salary was low or high. Compute the median salary and create a new binary variable that is true when the salary is high (above the median)

We could also perform Linear Regression (or any regression) to predict the salary value here. Instead, we are going to convert this into a _binary_ classification problem, by predicting two classes, HIGH vs LOW salary.

While performing regression may be better, performing classification may help remove some of the noise of the extreme salaries. We don't have to choice the `median` as the splitting point - we could also split on the 75th percentile or any other reasonable breaking point.

In fact, the ideal scenario may be to predict many levels of salaries,

I couldn't calculate the median salary since I did not pull the actual salary data

#### Thought experiment: What is the baseline accuracy for this model?

In [16]:
## YOUR CODE HERE

#### Create a Logistic Regression model to predict High/Low salary using statsmodel. Start by ONLY using the location as a feature. Display the coefficients and write a short summary of what they mean.

In [17]:
## YOUR CODE HERE

#### Create a few new variables in your dataframe to represent interesting features of a job title.
- For example, create a feature that represents whether 'Senior' is in the title 
- or whether 'Manager' is in the title. 
- Then build a new Logistic Regression model with these features. Do they add any value?

In [18]:
#focus on words - perhaps they do a better job

#### Rebuild this model with scikit-learn.
- You can either create the dummy features manually or use the `dmatrix` function from `patsy`
- Remember to scale the feature variables as well!

In [19]:
## YOUR CODE HERE

#### Use cross-validation in scikit-learn to evaluate the model above. 
- Evaluate the accuracy, AUC, precision and recall of the model. 
- Discuss the differences and explain when you want a high-recall or a high-precision model in this scenario.

In [20]:
## YOUR CODE HERE

#### Compare L1 and L2 regularization for this logistic regression model. What effect does this have on the coefficients learned?

In [22]:
## YOUR CODE HERE

#### Continue to incorporate other text features from the title or summary that you believe will predict the salary and examine their coefficients

#### Take ~100 scraped entries with salaries. Convert them to use with your model and predict the salary - which entries have the highest predicted salaries?

### BONUS

#### Bonus: Use Count Vectorizer from scikit-learn to create features from the text summaries. 
- Examine using count or binary features in the model
- Re-evaluate the logistic regression model using these. Does this improve the model performance? 
- What text features are the most valuable?

In [23]:
#I used Count Vectorizer to get the words to use in the final model

In [24]:
## YOUR CODE HERE

#### Re-test L1 and L2 regularization. You can use LogisticRegressionCV to find the optimal reguarlization parameters. 
- Re-test what text features are most valuable.  
- How do L1 and L2 change the coefficients?

In [25]:
## YOUR CODE HERE