In [16]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np
import time

In [6]:
#base_url = 'http://www.indeed.com/q-data-scientist-$70,000-l-Chicago,-IL-jobs.html'

# pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
# df = pd.DataFrame()   # create a new data frame

In [9]:
# soup = BeautifulSoup(urllib2.urlopen(base_url).read())

In [4]:
# for table in soup('table'):
#     print table
#     print '/n'
# print len(soup('table'))

NameError: name 'soup' is not defined

In [50]:
# for ptag in soup('span',{'class': 'company'}):
#         print ptag.text
#         print '\n'
# for ptag in soup('span',{'class': 'jobtitle turnstileLink'}):
#         print ptag.text
#         print '\n'

In [18]:
pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
df = pd.DataFrame()   # create a new data frame

searchCriteria=[]
salaryRange=[]
jobTitle = []
companyName=[]
cityLocation=[]
description=[]
actualSalary=[]
priceRanges = ['$55,000','$70,000','$85,000','$105,000','$120,000']

for price in priceRanges:
    time.sleep(1)   
    base_url = 'http://www.indeed.com/q-data-scientist-'+ price +'-l-Chicago,-IL-jobs.html'

    pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
    df = pd.DataFrame()   # create a new data frame
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
      
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                             actualSalary.append(k.get_text())
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                             actualSalary.append(k.get_text())

#     gData = soup.find_all("div",{"class":"row result"})
#     for item in gData:
#             for i in soup('div', {'class': ' row result'}):
#                 for j in i('td', {'class': 'snip'}):
#                     for k in j('nobr'):
#                         print k.get_text()
#                         actualSalary.append(k.get_text())


# for i in range(0,len(jobTitle)):
#     print searchCriteria[i]
#     print jobTitle[i]
#     print companyName[i].lstrip().replace('\n','')
#     print cityLocation[i].replace('\n','')
#     print salaryRange[i]
#     print description[i].replace('\n','')
#     print '\n''\n'

In [19]:
#55 and plus
pVariableNu=20
price = '$55,000'
for pages in range(2,41):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                             actualSalary.append(k.get_text())

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                         print k.get_text()
#                         actualSalary.append(k.get_text())
            

# for i in soup('div', {'class': ' row result'}):
#     for j in i('td', {'class': 'snip'}):
#         for k in j('nobr'):
#             print k.get_text()
#             salary.append(k.get_text())

print 'finished Chicago 55'

finished Chicago 55

In [3]:
actualSalary

[]

In [23]:
len(companyName)

1104

In [21]:
#70 and plus
pVariableNu=20
price = '$70,000'
for pages in range(2,34):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished Chicago 70'

finished Chicago 70

In [24]:
#85,000
pVariableNu=20
price = '$85,000'
for pages in range(2,26):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished Chicago 85'

finished Chicago 85

In [25]:
#100000
pVariableNu=20
price = '$100,000'
for pages in range(2,18):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished Chicago 100'

finished Chicago 100

In [26]:
#120000
pVariableNu=20
price = '$120,000'
for pages in range(2,9):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished Chicago 120'

finished Chicago 120

Since you read comments - so sad to say there are no 'real' Data Scientist jobs in 
Dayton, Ohio.  I had to resort to using Cincinnati data.  Oh well

In [27]:
priceRanges = ['$45,000','$50,000','$65,000','$80,000','$110,000']

for price in priceRanges:
    time.sleep(1)   
    base_url = 'http://www.indeed.com/q-data-scientist-'+price +'-l-Cincinnati,-OH-jobs.html'
    pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
    df = pd.DataFrame()   # create a new data frame
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
      
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished first page Cincy'

finished first page Cincy

In [28]:
#scraping the data from page 2 on for Cincy
pVariableNu=20
price = '$45,000'
for pages in range(2,9):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished cincy 45'

finished cincy 45

In [29]:
#scraping the data from page 2 on for Cincy
pVariableNu=20
price = '$50,000'
for pages in range(2,9):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
  #  base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished cincy 50'

finished cincy 50

In [30]:
#scraping the data from page 2 on for Cincy
pVariableNu=20
price = '$65,000'
for pages in range(2,6):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
  #  base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished cincy 65'

finished cincy 65

In [31]:
#scraping the data from page 2 on for Cincy
pVariableNu=20
price = '$80,000'
for pages in range(2,4):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
  #  base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished cincy 80'

finished cincy 80

In [32]:
#scraping the data from page 2 on for Cincy
pVariableNu=20
price = '$110,000'
for pages in range(2,3):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
  #  base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2445%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('price')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append(item.find_all("span",{"class":"company"})[0].text)
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(price)
print 'finished cincy 110'

finished cincy 110

In [33]:
#fixing my problem of lists by making them dataframes
dictPostings={'Search Criteria':searchCriteria,
              'Job Title':jobTitle,
              'Company Name':companyName,
              'City Location': cityLocation,
              'Salary Range': salaryRange, 
              'Description':description}
    



# for i in range(0,10):
#     print searchCriteria[i]
#     print jobTitle[i]
#     print companyName[i].lstrip().replace('\n','')
#     print cityLocation[i].replace('\n','')
#     print salaryRange[i]
#     print description[i].replace('\n','')
#     print '\n''\n'

In [34]:
searchListings = pd.DataFrame(dictPostings)

In [35]:
searchListings.head(5)

,City Location,Company Name,Description,Job Title,Salary Range,Search Criteria
0,"Chicago, IL 60601",HERE,With big data in Hadoop and/or Spark for data extraction and data prep for. Solutions and organizing teams of other data scientists and engineers to....,Principal Data Scientist,"$55,000",data scientist
1,"Northbrook, IL 60062",Allstate Insurance,"The Data Scientist family is accountable for using data to make decisions, which includes building predictive models and developing new machine learning...",Junior Data Scientist,"$55,000",data scientist
2,"Chicago, IL 60601",Allstate Insurance,Manages data and data requests to improve the accuracy of our data and decisions made from data analysis. Strong understanding of geospatial data....,Geospatial Data Scientist,"$55,000",data scientist
3,"Chicago, IL",KIPP Chicago,"\nA data scientist, modeling analyst, or data analyst to join our data science team at our regional headquarters in Chicago....",Data Scientist,"$55,000",data scientist
4,"Chicago, IL",Digital Factory,\nChief Data Scientist*. We are looking for an experienced Data Scientist that will work with the Research/Development teams to provide insights into mobile data...,Chief Data Scientist (equity position),"$55,000",data scientist

In [36]:
print len(cityLocation)
print len(searchCriteria)

1978
1978

In [17]:
#if time
# salary = []
# for i in soup('div', {'class': ' row result'}):
#     for j in i('td', {'class': 'snip'}):
#         for k in j('nobr'):
#             print k.get_text()
#             salary.append(k.get_text())

In [37]:
import os

In [38]:
pwd

u'/Users/marthataylor/DSI-CHI-1/Project04-MLT'

In [69]:
searchListings.head(1)

,City Location,Company Name,Description,Job Title,Salary Range,Search Criteria
0,"Chicago, IL 60601",HERE,With big data in Hadoop and/or Spark for data extraction and data prep for. Solutions and organizing teams of other data scientists and engineers to....,Principal Data Scientist,"$55,000",data scientist

In [39]:
searchListings.columns=['City Location', 'Company Name',
                       'Description','Job Title','Salary Range',
                       'Search Criteria']

In [40]:
searchListings.columns

Index([u'City Location', u'Company Name', u'Description', u'Job Title',
       u'Salary Range', u'Search Criteria'],
      dtype='object')

In [12]:
#write to csv  for safety
import csv
searchListings.to_csv('~/Documents/SearchListings.csv')

UnicodeEncodeError: 'ascii' codec can't encode character u'\u2019' in position 5: ordinal not in range(128)

In [41]:
#create dummies for salary range

salaryDummies = pd.get_dummies(searchListings['Salary Range'])

In [42]:
salaryDummies.head(4)

,"$100,000","$105,000","$110,000","$120,000","$45,000","$50,000","$55,000","$65,000","$70,000","$80,000","$85,000",price
0,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
1,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
2,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0
3,0.0,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0,0.0

In [47]:
salaryDummies.describe()

,"$100,000","$105,000","$110,000","$120,000","$45,000","$50,000","$55,000","$65,000","$70,000","$80,000","$85,000",price
count,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000,1978.000000
mean,0.145602,0.006067,0.010617,0.037917,0.037412,0.037412,0.183519,0.024267,0.151668,0.015167,0.115268,0.235086
std,0.352796,0.077672,0.102515,0.191044,0.189816,0.189816,0.387189,0.153916,0.358790,0.122247,0.319426,0.424160
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000

In [63]:
names=['$100,000','$105,000','$110,000','$120,000',
                       '$45,000','$50,000','$55,000','$65,000','$70,000',
                       '$80,000','$85,000','price']

In [58]:
salaryDummies.columns

Index([u'$100,000', u'$105,000', u'$110,000', u'$120,000', u'$45,000',
       u'$50,000', u'$55,000', u'$65,000', u'$70,000', u'$80,000', u'$85,000',
       u'price'],
      dtype='object')

In [67]:
salaryDummiesPD=pd.DataFrame(salaryDummies, columns=names)

In [71]:
salaryDummiesPD.columns

Index([u'$100,000', u'$105,000', u'$110,000', u'$120,000', u'$45,000',
       u'$50,000', u'$55,000', u'$65,000', u'$70,000', u'$80,000', u'$85,000',
       u'price'],
      dtype='object')

In [76]:
searchListingsFinal=pd.concat([searchListings, salaryDummiesPD],axis =1)
#searchListingsFinal=pd.DataFrame(searchListings).join(pd.DataFrame(salaryDummies))

TypeError: cannot concatenate a non-NDFrame object

In [77]:
dtype(searchListings)

NameError: name 'dtype' is not defined