In [1]:
from bs4 import BeautifulSoup
import urllib2
import pandas as pd
import numpy as np
import time

In [ ]:
#soup = BeautifulSoup(urllib2.urlopen(base_url).read())

The following cities were included in the study, Chicago, Cincinnati, and Louisville.  Kentucky is very business friendly and it might be a positive cash flow to move south. Unfortunately there is a skill labor shortage in Louisville (according to my business owner brother in law)
Cincinnati would be a good option.
The cost of living index.
Chicago = 111
Cincinnati = 83
Louisville = 91
Austin Tx = 78.26

Median pay for a Data Scientist is $93,146. The range is 64,953-126,183
Chicago the median is 83,437. The reange is 53,469-114.196
Austin the median 83,084. The range is 49,460 - 108,409
This data is from www.payscale.com

The following groupings were made
Low end
    Chicago:    55,000
    Louisvile:  40,000
    Cincinnati: 50,000, 55,000
    Austin:     50,000
    
Middle
    Chicago:    70,000  85,000
    Louisvile:  60,000  80,000
    Cincinnati: 65,000
    Austin:     70,000  85,000
    
High pay
    Chicago:    100,000  120,000
    Louisvile:  100,000
    Cincinnati:  90,000  110,000
    Austin:     100,000  115,000

In [2]:
pd.set_option('max_colwidth',500)    # to remove column limit (Otherwise, we'll lose some info)
df = pd.DataFrame()   # create a new data frame

searchCriteria=[]
salaryRange=[]
jobTitle = []
companyName=[]
cityLocation=[]
description=[]
actualSalary=[]
BackupsearchCriteria=[]
BackupsalaryRange=[]
BackupjobTitle = []
BackupcompanyName=[]
BackupcityLocation=[]
Backupdescription=[]
BackupactualSalary=[]

In [3]:

priceRanges = ['$55,000','$70,000','$85,000','$105,000','$120,000']

for price in priceRanges:
    time.sleep(1)   
    base_url = 'http://www.indeed.com/q-data-scientist-'+ price +'-l-Chicago,-IL-jobs.html'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
    if price == '$55,000':
            level = 'low'
    elif price == '$70,000' or price == '$85,000':
            level = 'high'
    else:
            level = 'high'
            
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
            
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                             actualSalary.append(k.get_text())
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

//anaconda/lib/python2.7/site-packages/bs4/__init__.py:166: UserWarning: No parser was explicitly specified, so I'm using the best available HTML parser for this system ("lxml"). This usually isn't a problem, but if you run this code on another system, or in a different virtual environment, it may use a different parser and behave differently.

To get rid of this warning, change this:

 BeautifulSoup([your markup])

to this:

 BeautifulSoup([your markup], "lxml")

  markup_type=markup_type))

In [4]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

60
60
60
60
60
60

In [5]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [6]:
#55 and plus
pVariableNu=10
price = '$55,000'
level='low'
for pages in range(2,41):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = base_url='http://www.indeed.com/jobs?q=data+scientist+%2455%2C000&l=Chicago%2C+IL&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                             actualSalary.append(k.get_text())

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
#             for j in item('td', {'class': 'snip'}):
#                      for k in j('nobr'):
#                         print k.get_text()
#                         actualSalary.append(k.get_text())
            

# for i in soup('div', {'class': ' row result'}):
#     for j in i('td', {'class': 'snip'}):
#         for k in j('nobr'):
#             print k.get_text()
#             salary.append(k.get_text())

print 'finished Chicago 55'

finished Chicago 55

In [7]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

394
394
394
394
394
394

In [8]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [9]:
#70 and plus
pVariableNu=10
price = '$70,000'
level='medium'
#for pages in range(2,34):
for pages in range(2,10):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    print pVariableNu
  
    #base_url = 'http://www.indeed.com/q-data-scientist-%2455%2C000&l=Chicago%2C+IL&start=' + pVariable + '&pp='
    base_url='http://www.indeed.com/jobs?q=data+scientist+%2470%2C000&l=Chicago%2C+IL&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
print 'finished Chicago 70'

20
30
40
50
60
70
80
90
finished Chicago 70

In [ ]:
#companyName

In [10]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

470
470
470
470
470
470

In [11]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [12]:
print len(jobTitle)
print len(BackupjobTitle)

470
470

In [13]:
#85,000
pVariableNu=10
price = '$85,000'
level = 'medium'
for pages in range(2,26):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = base_url='http://www.indeed.com/jobs?q=data+scientist+%2485%2C000&l=Chicago%2C+IL&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
print 'finished Chicago 85'

finished Chicago 85

In [14]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

691
691
691
691
691
691

In [15]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [16]:
#100000
pVariableNu=10
price = '$100,000'
level='high'
for pages in range(2,18):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url =base_url='http://www.indeed.com/jobs?q=data+scientist+%24100%2C000&l=Chicago%2C+IL&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
print 'finished Chicago 100'

finished Chicago 100

In [17]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

826
826
826
826
826
826

In [18]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [ ]:
len(companyName)  ##################################

In [ ]:
# for i in range(0,624):
#     print searchCriteria[i]
#     print jobTitle[i]
#     print companyName[i].lstrip().replace('\n','')
#     print cityLocation[i].replace('\n','')
#     print salaryRange[i]
#     print description[i].replace('\n','')
#     print '\n'
# dictPostingsTEMP={'Search Criteria':searchCriteria,
#               'Job Title':jobTitle,
#               'Company Name':companyName,
#               'City Location': cityLocation,
#               'Salary Range': salaryRange, 
#               'Description':description}
# searchListingsTEMP = pd.DataFrame(dictPostingsTEMP)
# searchListingsTEMP.shape
# (searchListingsTEMP.drop_duplicates(take_last=True)).shape

In [ ]:
#searchListingsTEMP.head()

In [ ]:
#searchListingsTEMP['Description'].value_counts()

In [19]:
#120000
pVariableNu=10
price = '$120,000'
level='high'
for pages in range(2,9):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = base_url='http://www.indeed.com/jobs?q=data+scientist+%24120%2C000&l=Chicago%2C+IL&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
print 'finished Chicago 120'

finished Chicago 120

In [20]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

885
885
885
885
885
885

In [21]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [ ]:
#checking to make sure all is ok

In [22]:
dictPostingsTEMP={'Search Criteria':searchCriteria,
              'Job Title':jobTitle,
              'Company Name':companyName,
              'City Location':cityLocation,
              'Salary Level': salaryRange, 
              'Description':description}

searchListingsTEMP = pd.DataFrame(dictPostingsTEMP)
print searchListingsTEMP.shape
searchListingsTEMP=searchListingsTEMP.drop_duplicates(take_last=True)
print searchListingsTEMP.shape

(885, 6)
(744, 6)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead

In [24]:
searchListingsTEMP.tail(5)

,City Location,Company Name,Description,Job Title,Salary Level,Search Criteria
880,"Chicago, IL",Civis Analytics,"\nOur engineers, data scientists and analysts are not only the best and brightest in their fields, but are also eager to teach and learn from you....",DevOps Engineer,high,data scientist
881,"Chicago, IL 60642 (Portage Park area)",NCSA Sports,"\nDesign, build and maintain reliable Ruby code within an existing Rails applicationSplit out small, well-defined services in smart and secure waysMentor other...",Senior Ruby on Rails Developer,high,data scientist
882,"Chicago, IL","Vizient, Inc.",\nProvides coordination for member risk adjustment task force include clinicians and data scientists. Works with member task force and Center for Advanced...,"Director, Risk Adjustment",high,data scientist
883,"Northbrook, IL",Astellas,"\nDevelop data mining and/or data modeling plans to support RWI&A projects and programs. Manage, mentor and develop a high performing data scientists team through...","Director, RWI Data Science",high,data scientist
884,"Chicago, IL",Strategic IT Staffing,"\nDoing all this with an exceptional group of software engineers, data scientists, dev-ops engineers and managers....",Senior DevOps Engineer,high,data scientist

Since you read comments - so sad to say there are no 'real' Data Scientist jobs in 
Dayton, Ohio.  I had to resort to using Cincinnati data.  Oh well

In [25]:
################Cincinnati Ohio #####################################
            
priceRanges = ['$50,000','$55,000','$65,000','$90,000','$110,000']            
for price in priceRanges:
    time.sleep(1)   
    base_url = 'http://www.indeed.com/q-data-scientist-'+price +'-l-Cincinnati,-OH-jobs.html'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
    if price == '$50,000' or price == '$55,000':
            level = 'low'
    elif price == '$65,000':
            level = 'medium'
    else:
            level = 'high'
            
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
        
print 'finished first page Cincy'

finished first page Cincy

In [26]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

944
944
944
944
944
944

In [27]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [28]:
#scraping the data from page 2 on for Cincy
pVariableNu=10
price = '$50,000'
level='low'
for pages in range(2,9):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2450%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')
            
print 'finished cincy 50'

finished cincy 50

In [29]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1009
1009
1009
1009
1009
1009

In [30]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [31]:
#scraping the data from page 2 on for Cincy
pVariableNu=10
price = '$55,000'
for pages in range(2,8):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2455%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')
            
print 'finished cincy 55'

finished cincy 55

In [32]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1061
1061
1061
1061
1061
1061

In [33]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [34]:
#scraping the data from page 2 on for Cincy
pVariableNu=10
price = '$65,000'
level='medium'
for pages in range(2,6):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2465%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')
print 'finished cincy 65'

finished cincy 65

In [37]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1098
1098
1098
1098
1098
1098

In [35]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [38]:
#scraping the data from page 2 on for Cincy
pVariableNu=10
price = '$90,000'
level = 'high'
for pages in range(2,4):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%2490%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')
print 'finished cincy 90'

finished cincy 90

In [39]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1116
1116
1116
1116
1116
1116

In [40]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [41]:
#scraping the data from page 2 on for Cincy
pVariableNu=10
price = '$110,000'
level = 'high'
for pages in range(2,3):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url = 'http://www.indeed.com/jobs?q=data+scientist+%24110%2C000&l=Cincinnati%2C+OH&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')
print 'finished cincy 110'

finished cincy 110

In [42]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1118
1118
1118
1118
1118
1118

In [43]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

Louisville, KY ###################

In [44]:
############################Louisville KY##################
            
priceRanges = ['$40,000','$60,000','$80,000','$100,000','$120,000']            
for price in priceRanges:
    time.sleep(1)   
    base_url ='http://www.indeed.com/q-data-scientist-'+price +'-l-Louisville,-KY-jobs.html'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
    if price == '$40,000':
            level = 'low'
    elif price == '$60,000'  or price == '$80,000':
            level = 'medium'
    else:
            level = 'high'
            
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            print 'got to 2'
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
        
print 'finished first page louisville'

got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
got to 2
finished first page louisville

In [45]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1178
1178
1178
1178
1178
1178

In [46]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [47]:
pVariableNu=10
price = '$40,000'
level = 'low'
for pages in range(2,3):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%2440%2C000&l=Louisville%2C+KY&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')
print 'finished louisville 40'

finished louisville 40

In [48]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1186
1186
1186
1186
1186
1186

In [49]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [50]:
pVariableNu=10
price = '$60,000'
level = 'medium'
for pages in range(2,3):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%2460%2C000&l=Louisville%2C+KY&start='+pVariable+'&pp='
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    print 'got to 1'
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')
print 'finished louisville 60'

got to 1
finished louisville 60

In [51]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1195
1195
1195
1195
1195
1195

In [52]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [ ]:
Austin Texas

In [53]:
###################### Austin TX ###########################
priceRanges = ['$50,000','$70,000','$85,000','$100,000','$115,000']

for price in priceRanges:
    time.sleep(1)   
    base_url = 'http://www.indeed.com/q-data-scientist-'+ price +'-l-Austin,-TX-jobs.html'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    
    if price == '$50,000':
            level = 'low'
    elif price == '$70,000' or price == '$85,000':
            level = 'medium'
    else:
            level = 'high'
            
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)
            

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append(level)

In [54]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1254
1254
1254
1254
1254
1254

In [55]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [56]:
pVariableNu=10
price = '$50,000'
level='low'
for pages in range(2,17):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%2450%2C000&l=Austin%2C+TX&start='+pVariable+'#'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('low')

In [57]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1388
1388
1388
1388
1388
1388

In [58]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [59]:
pVariableNu=10
price = '$70,000'
level='medium'
for pages in range(2,13):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%2470%2C000&l=Austin%2C+TX&start='+pVariable+'#'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

In [60]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1480
1480
1480
1480
1480
1480

In [61]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [62]:
pVariableNu=10
price = '$85,000'
level='medium'
for pages in range(2,10):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%2485%2C000&l=Austin%2C+TX&start='+pVariable+'#'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('medium')

In [63]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1547
1547
1547
1547
1547
1547

In [67]:
BackupsearchCriteria =searchCriteria 
BackupsalaryRange=salaryRange
BackupjobTitle =jobTitle
BackupcompanyName=companyName
BackupcityLocation=cityLocation
Backupdescription=description
BackupactualSalary=actualSalary

In [65]:
pVariableNu=10
price = '$100,000'
level='high'
for pages in range(2,7):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%24100%2C000&l=Austin%2C+TX&start='+pVariable+'#'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

In [66]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1592
1592
1592
1592
1592
1592

In [68]:
pVariableNu=10
price = '$115,000'
level='high'
for pages in range(2,4):
    time.sleep(2) 
    pVariableNu=10+pVariableNu
    pVariable=str(pVariableNu)
    
    base_url ='http://www.indeed.com/jobs?q=data+scientist+%24115%2C000&l=Austin%2C+TX&start='+pVariable+'#'
    soup = BeautifulSoup(urllib2.urlopen(base_url).read())
    gData = soup.find_all("div",{"class":"row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

    gData = soup.find_all("div",{"class":" row result"})
    for item in gData:
            searchCriteria.append('data scientist')
            jobTitle.append(item.find_all("a",{"data-tn-element":"jobTitle"})[0].text)
            companyName.append((item.find_all("span",{"class":"company"})[0].text).lstrip().replace('\n',''))
            cityLocation.append(item.find_all("span",{"class":"location"})[0].text)
            description.append(item.find_all("span",{"class":"summary"})[0].text)
            salaryRange.append('high')

checking to make sure all is ok

In [69]:
print len(searchCriteria)
print len(jobTitle)
print len(companyName)
print len(cityLocation)
print len(salaryRange)
print len(description)

1610
1610
1610
1610
1610
1610

In [70]:
dictPostings={'Search Criteria':searchCriteria,
              'Job Title':jobTitle,
              'Company Name':companyName,
              'City Location':cityLocation,
              'Salary Level': salaryRange, 
              'Description':description}

searchListings = pd.DataFrame(dictPostings)
print searchListings.shape
searchListings=searchListings.drop_duplicates(take_last=True)
print searchListings.shape

(1610, 6)
(1284, 6)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:10: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead

In [ ]:
# for i in range(0,10):
#     print searchCriteria[i]
#     print jobTitle[i]
#     print companyName[i].lstrip().replace('\n','')
#     print cityLocation[i].replace('\n','')
#     print salaryRange[i]
#     print description[i].replace('\n','')
#     print '\n''\n'

In [71]:
searchListings.columns

Index([u'City Location', u'Company Name', u'Description', u'Job Title',
       u'Salary Level', u'Search Criteria'],
      dtype='object')

In [72]:
searchListings.head(15)

,City Location,Company Name,Description,Job Title,Salary Level,Search Criteria
0,"Chicago, IL",Precima,The Data Scientist will provide process execution support for client projects. Take analytical objectives and define data requirements....,Data Scientist,low,data scientist
1,"Chicago, IL 60601",HERE,With big data in Hadoop and/or Spark for data extraction and data prep for. Solutions and organizing teams of other data scientists and engineers to....,Principal Data Scientist,low,data scientist
2,"Lake Forest, IL",ABBOTT LABORATORIES,"Professional experience analyzing data and generating relevant and actionable insights. Bachelors Degree required (Business, Data Analytics or Supply-Chain...","Data Scientist - Abbott Nutrition - Lake Forest, IL",low,data scientist
3,"Chicago, IL",The University of Chicago Medicine,"\nThe Data Scientist will also be responsible for data profiling/cleansing data governance consultation, data quality assessment, data mart mapping and data...",Data Scientist,low,data scientist
4,"Chicago, IL",Digital Factory,\nChief Data Scientist*. We are looking for an experienced Data Scientist that will work with the Research/Development teams to provide insights into mobile data...,Chief Data Scientist (equity position),low,data scientist
5,"Chicago, IL",GE Transportation,"\nThe Senior Data Scientist will demonstrate leadership in communicating business goals, programs, and processes for multiple areas or business / market segments....",Senior Data Scientist,low,data scientist
6,"Chicago, IL",Anomalix,\nData Scientist Responsibilities will include:. Anomalix is looking for strong data scientist candidates to join a team building out our flagship enterprise...,Data Scientist,low,data scientist
7,"Chicago, IL",C R Research Services,\nParticipate in the development of final written reports that involve presentation set-up and data posting. Coordinate all aspects of primary research projects...,Quantitative Research Analyst,low,data scientist
8,"Chicago, IL",Synchrony Financial,"\nWe are looking for scientists who are curious and passionate about mining data and have experience in statistical programming, SAS, machine learning, and use of...","AVP, Credit Innovation Data Scientist (L11)",low,data scientist
9,"Chicago, IL",KIPP Chicago,"\nA data scientist, modeling analyst, or data analyst to join our data science team at our regional headquarters in Chicago....",Data Scientist,low,data scientist
10,"Chicago, IL",Kaplan,\nMetis Senior Data Scientists provide incredible and inspiring Data Science instruction; We are looking for Senior Data Scientists to be part of the Metis Data...,Senior Data Scientist,low,data scientist
11,"Chicago, IL",Inficare,"\nBe a key component of the Big Data and Data Sciences CoE, working directly with clients to solve varied business issues using internal and external data....",Data Scientist,low,data scientist
12,"Chicago, IL",Precima,The Data Scientist will provide process execution support for client projects. Take analytical objectives and define data requirements....,Data Scientist,medium,data scientist
14,"Lake Forest, IL",ABBOTT LABORATORIES,"Professional experience analyzing data and generating relevant and actionable insights. Bachelors Degree required (Business, Data Analytics or Supply-Chain...","Data Scientist - Abbott Nutrition - Lake Forest, IL",medium,data scientist
21,"Chicago, IL 60601 (Loop area)",KPMG,"\nKPMG is currently seeking a Data Scientist, to join our Advanced Data Analytics in our Chicago, IL office. Eight years of professional experience working as a...",Data Scientist,medium,data scientist

In [73]:
print len(cityLocation)
print len(searchCriteria)

1610
1610

In [ ]:
#if time
# salary = []
# for i in soup('div', {'class': ' row result'}):
#     for j in i('td', {'class': 'snip'}):
#         for k in j('nobr'):
#             print k.get_text()
#             salary.append(k.get_text())

In [ ]:
import os

In [ ]:
pwd

In [ ]:
searchListings.head(1)

In [ ]:
searchListings.columns=['City Location', 'Company Name',
                       'Description','Job Title','Salary Range',
                       'Search Criteria']

In [79]:
searchListings.columns

Index([u'City Location', u'Company Name', u'Description', u'Job Title',
       u'Salary Level', u'Search Criteria'],
      dtype='object')

In [74]:
type(searchListings)

pandas.core.frame.DataFrame

In [78]:
type(searchListings)

pandas.core.frame.DataFrame

In [75]:
#write to csv  for safety
import csv
searchListings.to_csv('~/Documents/SearchListingsBackup.csv', encoding='utf-8')

In [80]:
#create dummies for salary range

salaryDummies = pd.get_dummies(searchListings['Salary Level'])

In [81]:
type(salaryDummies)

pandas.core.frame.DataFrame

In [83]:
salaryDummies.head(1)

   high  low  medium
0   0.0  1.0     0.0

In [84]:
salaryDummies.describe()

              high          low       medium
count  1284.000000  1284.000000  1284.000000
mean      0.211059     0.453271     0.335670
std       0.408219     0.498006     0.472408
min       0.000000     0.000000     0.000000
25%       0.000000     0.000000     0.000000
50%       0.000000     0.000000     0.000000
75%       0.000000     1.000000     1.000000
max       1.000000     1.000000     1.000000

In [85]:
salaryDummies.columns

Index([u'high', u'low', u'medium'], dtype='object')

In [ ]:
#salaryDummiesPD=pd.DataFrame(salaryDummies, columns=names)

In [ ]:
salaryDummiesPD.columns

In [86]:
searchListingsFinal=pd.concat([searchListings, salaryDummies],axis =1)
#searchListingsFinal=pd.DataFrame(searchListings).join(pd.DataFrame(salaryDummies))

In [ ]:
type(salaryDummies)

In [87]:
searchListingsFinal['Company Name'].value_counts()

Civis Analytics                                          60
IBM                                                      29
Amazon Corporate LLC                                     27
Allstate Insurance                                       25
University of Chicago                                    24
CDK Global                                               22
University of Texas at Austin                            20
Workbridge Associates                                    20
Tempus                                                   18
Procter & Gamble                                         17
Jobspring Partners                                       16
HomeAway                                                 16
Indeed                                                   15
P&G                                                      15
Morningstar                                              14
HDR                                                      14
MaxPoint                                                 13
Cincinnati Children's Hospital                           13
GE Digital                                               12
Saudi Aramco                                             12
Google                                                   12
National Opinion Research Center (NORC)                  11
HERE                                                     11
KPMG                                                     11
Astellas Pharmaceuticals                                 11
Accenture                                                10
Asuragen                                                  9
Next Step Systems                                         9
NCSA Athletic Recruiting                                  7
GE Aviation                                               7
                                                         ..
Collaborative for Academic, Social, and Emotional...      1
The University of Texas at Austin                         1
ACGT, Inc.                                                1
Talis Group                                               1
Arcadis:US                                                1
DNA Diagnostics Center                                    1
Kelton Global                                             1
LabPersonnel                                              1
KIPP Chicago                                              1
Fuchs Lubricants Co.                                      1
Rosalind Franklin University of Medicine and Scien...     1
Merkle Inc.                                               1
S.C. International                                        1
Mars                                                      1
Acxiom                                                    1
Dept of State Health Services                             1
Modis                                                     1
Umbel                                                     1
Aon                                                       1
SC Business Unit 3                                        1
Galvanize                                                 1
Levy Restaurant Limited Partnership                       1
Eldorado Trading, LLC                                     1
Beam Inc.                                                 1
Creative Circle                                           1
A2Z Development Center, Inc.                              1
Olenick & Associates                                      1
AMITA Health Adventist Medical Center, Hinsdale- A...     1
SoCore Energy                                             1
Olam Americas, Inc.                                       1
Name: Company Name, dtype: int64

In [88]:
searchListingsFinal.shape

(1284, 9)

In [89]:
searchListingsFinal= searchListingsFinal.drop_duplicates(take_last=True)

/anaconda/lib/python2.7/site-packages/ipykernel/__main__.py:1: FutureWarning: the take_last=True keyword is deprecated, use keep='last' instead
  if __name__ == '__main__':

In [90]:
searchListingsFinal.shape

(1284, 9)

In [ ]:
searchListingsFinal.shape

In [91]:
#write to csv  for safety
import csv
searchListingsFinal.to_csv('~/Documents/SearchListings.csv', encoding='utf-8')

In [ ]:
searchListingsFinal.head(1)